<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="TransactionsModel" connectionString="Server=tcp:azmtcsqlprem.database.windows.net,1433;Initial Catalog=vending;Persist Security Info=False;User ID=azeltov;Password=Axyz5549$Axyz5549$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="rServiceBaseAddress" value="http://40.76.205.224:12800/" />
    <add key="rServiceUsername" value="admin" />
    <add key="rServicePassword" value="Axyz5549$" />
    <add key="IoTHubSenderConnectionsString" value="HostName=vendinghub.azure-devices.net;SharedAccessKeyName=device;SharedAccessKey=eA7TjAQlV0eJT/U3cIONTnL8Q7FYxWhQT734/cCC0kg=" />
    <add key="IoTHubManagerConnectionsString" value="HostName=vendinghub.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=UeypK4zcFYnzdzsevfcKkyWfTNGV3ZccqaIFuXoP/iI=" />
    <add key="storageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=mtcphillyvendingmachines;AccountKey=3/+/5XRpuxJPMUIzWx8nrExeJpyPnnoMgnxxlnqWnsCCeL7x7eu8AQ3T8V0cjfZZ1N1GKKiMsWvOdMMMHFSM4g==;EndpointSuffix=core.windows.net" />
    <add key="faceAPIKey" value="77cbcda2eb3f4b4999edfd7f55956edc" />
    <add key="faceEndpoint" value="https://eastus.api.cognitive.microsoft.com/face/v1.0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.2.0" newVersion="7.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>