<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="storageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=mtcphillyvendingmachines;AccountKey=3/+/5XRpuxJPMUIzWx8nrExeJpyPnnoMgnxxlnqWnsCCeL7x7eu8AQ3T8V0cjfZZ1N1GKKiMsWvOdMMMHFSM4g==;EndpointSuffix=core.windows.net" />
    
    <add key="IoTHubServiceConnectionsString" value="HostName=vendinghub.azure-devices.net;SharedAccessKeyName=service;SharedAccessKey=8i79Sje8pmxangTKg6OuW0qEQH6VeuBtj3r9BpwrqUY=" />
  </appSettings>
</configuration>